.icon{
    color: rgb(6, 101, 190);
    margin:10 15 0 10px;
    padding-right:15px;
}

.profilePic{
    height:100px;
    width:100px;
    border-radius: 100%;
}

.mr-auto{
    font-size: 20px;
    
}

.navlink{
    margin-right:5px;
    border-right:1px solid gray;
}